/* gino-1744866060.199 *//**

ACTUALIZACIÓN  20/01/2020
 */

/** BLOG **/

.blogCatSlider a{
    padding: 8px;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    color: #464445;
}

.blogCatSlider{.postBlog:nth-child(4) img,
    background-color: #f8f8f8;
}

.slick-next:before, .slick-prev:before{
    color: #464445 !important;
}

.slick-prev:before{
    font: normal normal normal 14px/1 FontAwesome !important;
    content: "\f053" !important;
}
.slick-next:before{
    font: normal normal normal 14px/1 FontAwesome !important;
    content: "\f054" !important;
}
.slick-prev {
    left: -70px !important;
}
.slick-next {
    right: -50px !important;
}

.blog .titlePage{
    text-align: left;
    padding-left: 40px;
    text-transform: uppercase;
    color: #454344;
    margin: 14px 0;
}

.postBlog {
    margin-bottom: 15px;
}
.postBlog .titleNoticeBlog{
    display: block;
    text-transform: uppercase;
    color: #454344;
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    line-height: 1.4;
    padding-top: 10px;
}
.postBlog img{
    /*width: auto;*/
    /*height: 100%;*/
}
.postBlog:nth-child(4) img,
.postBlog:nth-child(12) img,
.postBlog:nth-child(13) img,
.postBlog:nth-child(5) img{
    /*width: 100%;*/
    /*height: auto;*/
}

.col-lg-6.postBlog,
.col-lg-4.postBlog{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.containerBlog{
    margin-top: 30px;
}

.activeBread{
    color: #00b5bd;
}

.thumbPostList{
    height: 155px;
    display: block;
    overflow: hidden;
}

.col-lg-6.postBlog .thumbPostList{
    height: 200px;
}

a:hover{
    text-decoration: none !important;
}
.current{
    height: 35px;
    background: #01b8be;
    width: 35px;
    padding: 10px;
    color: #fff;
    margin-right: 10px;
}
.fa.inactive{
    font-size: 22px;
}
.inactive{
    height: 35px;
    color: #6f6f6f;
    width: 35px;
    font-weight: 600;
    padding: 6px;
    margin-right: 10px;
    display: inline-block;
    font-size: 15px;

}
.pagination{
    display: block !important;
    width: 100%;
    margin-bottom: 15px;
}
.adMovil{
    display: none;
}
.searchBlog i{
    font-size: 17px;
    padding: 7px;
    color: #bab9ba;
    width: 9%;
    display: inline-block;
    float: right;
}
.searchBlog form button{
    display: none;
}
.searchBlog form input.vce-search-input{
    height: auto;
    padding: 10px;
    border: 0;
    color: #bab9ba;
}
.searchBlog form{
    display: none;
    padding: 0px !important;
    z-index: 9999;
    float: left;
    width: 90%;
}
.calendarSidebar p{
    font-size: 11px;
    line-height: 20px;
}
.calendarSidebar h6{
    font-weight: 200;
    font-size: 22px !important;
    padding-bottom: 15px !important;
}
.calendarSidebar *{
    font-family: 'Poppins', sans-serif !important;
}
.calendarSidebar{
    padding: 10px;
    background: #f0f0f0;
    border-radius: 5px;
}
.widget.widget_text{
    background-color: initial !important;
}
@media (max-width: 425px){

    .containerGlobalCats{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .postBlog img {
        width: 100% !important;
    }

    .nutricion .rowCuidaAlimentacion .vc_column-inner{
        padding-right: 0px;
        padding-left: 0px;
    }

    .col-lg-6.postBlog .thumbPostList,
    .thumbPostList {
        height: 100px;
    }
    .sidebar{
        display: none !important;
    }
    .adMovil{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .searchBlog button i,
    .searchBlog form {
        display: block;
    }
    .searchBlog form {
        width: 100%;
    }

    .videos-entrenamiento .blogCatSlider form.vce-search-form{
        display: none;
    }
    .searchBlog form button{
        display: inline-block;
        font-size: 17px;
        padding: 7px;
        color: #bab9ba;
        background-color: initial;
    }

    .col-lg-6.postBlog,
    .col-lg-4.postBlog{
        width: 50%;
    }
    .slick-prev {
        left: -50px !important;
    }
}
@media (max-width: 1024px){
    .sidebar{
        width: 280px;
    }
}
#sticky_header{
    display: none !important;
}
header#header.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
body{
    padding-top: 85px;
}

.mobileMenu{
    display: none;
}

@media (max-width: 425px){
    .mobileMenu{
        display: block;
    }
}


/** VIDEO ENTRENAMIENTO **/

.videos-entrenamiento .titlePage {
    text-align: left;
    padding-left: 40px;
    text-transform: uppercase;
    color: #454344;
    margin: 14px 0;
}

.containerVideos .sf-filter{
    display: none;
}

.videos-entrenamiento .slick-track{
    max-height: 40px;
    overflow: hidden;
}

.containerVideos .sf-result-head{
    display: none;
}

.videos-entrenamiento .blogCatSlider a{
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
}


.videos-entrenamiento .blogCatSlider a:hover{
    color: #00b5bd;

}

.videos-entrenamiento .blogCatSlider .dropdown a{
    opacity: 0.4;
    font-size: 14px;
    padding: 9px;
}

.videos-entrenamiento .blogCatSlider .dropdown a:hover{
    opacity: initial;
}

.containerVideos .sf-nav{
    background: #fff !important;
}

.containerVideos ul.sf-nav li{
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.containerVideos ul.sf-nav li span{
    color: #595959c4 !important;
    border: initial !important;
    padding-top: 8px;
}

.containerVideos ul.sf-nav li{
    background-color: transparent !important;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}


.containerVideos ul.sf-nav li span.sf-nav-click:hover{
    border: 1px solid #01b8be;
    background-color: transparent !important;
}

.containerVideos ul.sf-nav li span.sf-nav-current{
    background-color: #01b8be;
    color: #fff !important;
    border-radius: initial !important;
    height: 40px;
    width: 40px;
    padding-top: 8px;
}

.containerVideos ul.sf-nav li span.sf-nav-current{
    border: initial !important;
}

.containerVideos ul.sf-nav li span.sf-nav-right-arrow{
    background-color: #01b8be;
    color: #fff !important;
    border-radius: 20px;
    height: 25px !important;
}
.containerVideos ul.sf-nav li span.sf-nav-click.sf-nav-right-arrow:hover{
    background-color: #01b8be !important;
    color: #fff !important;
    border: inherit !important;
    border-radius: 20px;
}
.containerVideos ul.sf-nav li span.sf-nav-left-arrow{
    background-color: #01b8be;
    color: #fff !important;
    border-radius: 20px;
    height: 25px !important;
}
.containerVideos ul.sf-nav li span.sf-nav-click.sf-nav-left-arrow:hover{
    background-color: #01b8be !important;
    color: #fff !important;
    border: inherit !important;
    border-radius: 20px;
}
.containerVideos ul.sf-nav li:last-child{
    right: 24% !important;
    top: 15px !important;
}

.containerVideos .sf-filter{
    background: initial;
    background-color: #f8f8f8;
    border: initial;
    box-shadow: 5px 2px 12px 0px #88888838;

}

.containerVideos .sf-wrapper .sf-filter #sf-filter-hidden a div.capa_sugerencias{
    width: 42%;
    height: initial;
    background-color: transparent;
    float: right;
    color: #01b8be;
    text-align: left;
    border-radius: initial;
    font-size: 14px;
    padding-top: 7px;
    border: initial;
    font-weight: 600;
}

.containerVideos .sf-filter #sf-filter-hidden fieldset div.sf-checkbox-wrapper div label{
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.containerVideos .sf-filter #sf-filter-hidden fieldset#grupcamps_6{
    text-align: right;
    width: 51%;
}

.containerVideos .sf-filter #sf-filter-hidden fieldset#grupcamps_6 legend{
    padding-right: 19%;
}

.containerVideos ul.sf-result{
    margin-top: 0px;
}

.videos-entrenamiento .blogCatSlider{
    margin-bottom: 30px;
}

.videos-entrenamiento .blogCatSlider .dropdown-menu.show{
    background-color: #f8f8f8;
    transform: initial !important;
    top: 100% !important;
    right: -20px;
    will-change: initial !important;
    margin-top: 5px;
    width: 145px;
    left: initial !important;
    text-align: right;
}

.videos-entrenamiento .blogCatSlider .dropdown-menu.show a{
    padding: 10px 15px 10px 10px;
    opacity: initial;
    font-size: 12px;

}

.videos-entrenamiento .blogCatSlider i.fa.fa-search.openSearch{
    padding: 10px 7px 7px 7px;
}

.videos-entrenamiento .blogCatSlider form.vce-search-form{
    position: absolute;
    top: 90%;
    left: 0px;
}

.videos-entrenamiento .blogCatSlider form.vce-search-form input{
    border: 2px solid #bab9ba66;
    padding: 5px 0px 5px 5px;
    width: 260px;
    margin-top: 20px;
}

.containerVideos .sf-result header.entry-header{
    text-align: left;
    padding: 10px 0px 0px 5px;
    max-width: 255px;
}

.containerVideos .sf-result header.entry-header h2 a{
    font-size: 14px;
    font-weight: 600;
}

.containerVideos .sf-result li{
    padding-right: 7px;
    padding-left: 7px;
}


/* FRASES MOTIVADORAS*/

.frases-motivadoras{
    margin-top: 20px;
}

.frases-motivadoras .categories{
    background-color: #f8f8f8;
    text-align: center;
}

.frases-motivadoras .categories .categoriesConta a{
    color: #464445;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.frases-motivadoras .categories .categoriesConta a:hover{
    color: #00b5bd;
}

.frases-motivadoras .categoriesConta{
    display: inline-block;
    padding: 10px 40px 10px 40px;
}

.frases-motivadoras .titlePage{
    text-align: left;
    margin-left: 20%;
}

.frases-motivadoras .slick-track .slick-slide a:hover,
.frases-motivadoras .slick-track .slick-slide.slick-current a{
    color: #04b6be;
}
.frases-motivadoras .slick-track .slick-slide a{
    font-weight: 600;
}
.frases-motivadoras .titlePage{
    text-transform: uppercase;
    margin: 8px 0px;
}
@media (max-width: 988px){
    .consejos .vc_col-sm-8{
        width: 100% !important;
    }
}
@media (max-width: 600px){
    .frases-motivadoras .slick-slider{
        display: none;
    }
    .mobileSliderCat .holder{
        display: inline-block;
        width: fit-content;
    }
    .mobileSliderCat{
        display: inline-block !important;
    }
    .blogCatSlider a{
        font-size: 11px !important;
    }
}
@media (min-width: 600px){
    .recetasSlider .slick-slide,
    .frases-motivadoras .slick-track .slick-slide{
        width: fit-content !important;
        padding-right: 20px;
    }
    .frases-motivadoras .slick-track{
        width: fit-content !important;
    }
}
.mobileSliderCat{
    display: none;
}


.content-desc-popup{
    width: 30% !important;
}
.material-cuerpo,
.tiempo-dif{
    width: 50% !important;
}



.containerFrases{
    margin-top: 20px !important;
}

.containerFrases .wc-gallery .gallery .gallery-icon a img {
    border: initial !important;
}

.containerFrases .wc-gallery .gallery .gallery-item{
    height: 255px;
    overflow: hidden;
}

.page-template-frases-motivadoras .fbx-modal .fbx-inner{
    width: 450px !important;
    height: 450px !important;
    margin-top: -258.5px !important;
    margin-left: -239.5px !important;
}

.page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-social{
    margin-left: 210px;
    margin-top: 97% !important;
}

.page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-social div,
.page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-social a{
    color: black !important;
    font-size: 12px;
    font-weight: bold;
}

.page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-social div{
    margin-top: 9px;
    text-align: right;
}

.page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-count{
    display: none;
}

.videos-entrenamiento .row.copyM{
    display: none;
}

/* NUTRICION*/

.container.nutricion{
    max-width: 100% !important;
    padding: 0px !important;
}

.nutricion .imagenesNutricion{
    width: 80%;
    margin-top: 20px;
}

.nutricion .imagenesNutricion .imgRight .vc_column-inner{
    padding-left: 0px;
}

.nutricion .imagenesNutricion .imgLeft .vc_column-inner{
    padding-right: 0px;
}

.nutricion .titleWithLine h4{
    color: #00b5bd;
    font-size: 32px;
    font-weight: 400;
    padding: 0px 9px 30px 9px !important;
}

.nutricion .titleWithLine b{
    font-weight: 700;
}

.nutricion .titleWithLine em{
    font-weight: 200;
}

.nutricion .habitos{
    width: 75%;
}

.nutricion .habitos .wpb_text_column.wpb_content_element{
    margin-bottom: 20px;
}

.nutricion .habitos h2{
    color: black;
    font-weight: bold;
    font-size: 21px;
}

.nutricion .habitos p{
    color: black;
    font-size: 12px;
}

.nutricion .habitos p.resaltado{
    font-weight: bold;
    font-size: 14px;
}

.sf-checkbox-wrapper div{
    text-align: left;
}

.sf-element legend{
    text-align: left;
}

.containerVideos .sf-filter #sf-filter-hidden fieldset#grupcamps_6 legend{
    text-align: right;
}

.containerVideos .sf-filter #sf-filter-hidden fieldset#grupcamps_1{
    margin-left: 15px;
}

.containerVideos .sf-filter #sf-filter-hidden fieldset#grupcamps_5{
    width: 26%;
}

/* TRANSFORMACIONES */


.containerTransformaciones{
    max-width: 100% !important;
}

.containerTransformaciones .tituloPrincipal {
    padding-top: 50px;
}

.containerTransformaciones .tituloPrincipal h1{
    position: absolute;
    bottom: 26px;
    left: 39%;
    transform: rotate(-5deg);
    font-size: 35px;
    color: #00b5bd;
}

.containerTransformaciones .tituloPrincipal .wpb_text_column.wpb_content_element{
    margin-bottom: 15px;
}

.containerTransformaciones .tituloPrincipal p{
    font-size: 24px;
    font-weight: 800;
}

.containerTransformaciones .transformacionesGrid .vc_pageable-slide-wrapper.vc_clearfix{
    width: 80%;
}

.containerTransformaciones .blueContent{
    background-color: #00b5bd;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
    width: 100%;
}

.containerTransformaciones .blueContent b{
    font-weight: 500;
}

.containerTransformaciones .blueContent em{
    font-weight: 300
}

.containerTransformaciones .blueContent p a{
    background-color: #fff;
    color: #00b5bd !important;
    font-size: 14px;
    padding: 10px 35px;
    border-radius: 20px;
}

.containerTransformaciones .blueContent .lineF,
.containerTransformaciones .blueContent .lineS,
.containerTransformaciones .blueContent .lineT{
    margin-bottom: 0px;
}

.containerTransformaciones .blueContent .lineF{
    margin-top: 0px;
}

.containerTransformaciones .blueContent .wpb_text_column.wpb_content_element{
    margin-bottom: 0px;
}

.containerTransformaciones .secTitle{
    font-size: 21px;
    font-weight: 500;
    padding-top: 20px;
    margin-left: 18%;
}

.secTitle .wpb_text_column.wpb_content_element{
    margin-bottom: 20px;
}

.containerTransformaciones .transformacionesGrid .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align-left{
    background-color: #fff;
}

.containerTransformaciones .transformacionesGrid .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align-left .vc_btn3-container.vc_btn3-left{
    display: none;
}

.containerTransformaciones .transformacionesGrid .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align-left .vc_custom_heading.vc_gitem-post-data.vc_gitem-post-data-source-post_excerpt{
    display: none;
}


/*PLANES DE NUTRICION*/

.container.containerPlanes{
    max-width: 100% !important;
    padding: 0px !important;
}

.containerPlanes .imagenesNutricion{
    width: 80%;
    margin-top: 20px;
}

.containerPlanes .imagenesNutricion .imgRight .vc_column-inner{
    padding-left: 0px;
}

.containerPlanes .imagenesNutricion .imgLeft .vc_column-inner{
    padding-right: 0px;
}

.containerPlanes .titleWithLine h4{
    color: #00b5bd;
    font-size: 32px;
    font-weight: 400;
    padding: 0px 9px 0px 9px !important;
}

.containerPlanes .titleWithLine b{
    font-weight: 700;
}

.containerPlanes .titleWithLine em{
    font-weight: 200;
}

.containerPlanes .habitos{
    width: 77%;
}

.containerPlanes .habitos .wpb_text_column.wpb_content_element{
    margin-bottom: 20px;
}

.containerPlanes .habitos h2{
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.containerPlanes .habitos p{
    color: black;
    font-size: 12px;
}

.containerPlanes .habitos p.resaltado{
    font-weight: bold;
    font-size: 14px;
}
.dropdown-menu.show a {
    font-size: 10px;
}
.dropdown-menu.show{
    width: 100%;
}

.blogCatSlider.fixed{
    position: fixed;
    top: 65px;
    width: 100%;
    z-index: 999;
}
.video-entrenamiento-post .content-video-popup{
    width: 69% !important;
}

@media (max-width: 768px) and (min-width: 430px){

    body.single-post .vce-main-content {
        width: 100% !important;
    }

    .containerBlog .col-lg-4.postBlog{
        width: 50%;
    }

    .containerBlog .col-lg-4.postBlog img{
        width: 100%;
    }

    .containerRecetas .col-lg-4.postBlog{
        width: 50%;
    }

    .containerRecetas .postBlog img {
        width: 100%;
    }

    .containerHeader .header-main-area{
        max-width: 100% !important;
        flex: inherit !important;
    }

    .containerHeader .header-main-area .site-branding{
        width: 100%;
    }

    .containerHeader .header-main-area .vce-responsive-nav{
        margin: 5px 15px;
    }

    /* HOME */

    .homeContent .tituloEntrenamientoHome {
        width: 90%;
    }

    .homeContent .home-videos-entrenamiento {
        width: 92%;
    }

    .homeContent .home-videos-entrenamiento .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{
        padding-right: 20px;
    }

    .homeContent .home-videos-entrenamiento .vc_gitem-zone .vc_gitem-post-data-source-post_title{
        margin-bottom: 0px;
        height: 55px;
    }

    .homeContent .home-videos-entrenamiento .vc_gitem-zone .vc_gitem-post-data-source-post_title h4{
        font-size: 10px;
    }


}

@media (max-width: 425px){

    /* Buscar colocado en movil blog*/

    body .blog .col-md-12.ordenar{
        max-width: 25% !important;
        padding-left: 0px;
    }

    body .blog .searchBlog{
        max-width: 55% !important;
    }

    body .blog .searchBlog form{
        max-width: 90% !important;
    }

    body .blog .searchBlog form input{
        width: 75% !important;
    }

    body .blog .col-md-12.filtrar{
        max-width: 20% !important;
    }

    body .blog .searchBlog form button {
        width: 1% !important;
        min-width: initial;
        padding: 0px 0px 10px 0px !important;
    }

    body .blog .ordenar .dropdown .dropdown-menu{
        width: 110px;
        text-align: right;
        transform: translate3d(-30px, 34px, 0px) !important;
    }

    body .blog .ordenar .dropdown .dropdown-menu a{
        font-size: 10px !important;
    }

        /* Buscar colocado en movil frases-imagenes*/

    body .frases-motivadoras .searchBlog form {
        width: 91%;
    }

    body .frases-motivadoras .searchBlog form button{
        width: 1% !important;
        min-width: initial;
        padding: 0px 0px 10px 0px !important;
    }
    /* Buscar colocado en movil recetas*/

    .recetas .blogCatSlider form.vce-search-form{
        top: 0% !important;
    }

    .recetas .blogCatSlider form.vce-search-form input{
        margin-top: 7px !important;
    }

    body.page-template-template-recetas .blog .ordenar .dropdown .dropdown-menu {
        transform: inherit !important;
    }


    /* Buscar colocado en movil videos de entrenamiento*/

    body .videos-entrenamiento .col-md-12.filtrar{
        max-width: 25% !important;
        padding: 0px;
    }

    body .videos-entrenamiento .col-md-12.searchBlog{
        max-width: 50% !important;
        padding-left: 0px;
    }

    body .videos-entrenamiento .searchBlog form button{
        width: 1% !important;
        min-width: initial;
        padding: 0px !important;
        height: 0px !important;
    }

    body .videos-entrenamiento .col-md-12.ordenar{
        max-width: 25% !important;
    }

    body .videos-entrenamiento .blogCatSlider form.vce-search-form input{
        width: 80%;
        margin-top: 7px !important;
    }

    body .videos-entrenamiento .blogCatSlider form.vce-search-form{
        top: 0 !important;
    }


    .containerHeader .header-main-area{
        max-width: 100% !important;
        flex: inherit !important;
    }



    body.page-template-template-vuestras-fotos .fbx-modal .fbx-inner,
    .page-template-template-consejos-tips .fbx-modal .fbx-inner,
    .page-template-frases-motivadoras .fbx-modal .fbx-inner{
        width: 100% !important;
        height: 450px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        left: 0px !important;
    }

    .blog .searchBlog form{
        display: none;
    }

    .container-fluid.videos-entrenamiento{
        padding-right: initial;
        padding-left: initial;
    }

    .videos-entrenamiento .container.titlePage{
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 9%;
    }

    .videos-entrenamiento .dropdown.show a.btn.dropdown-toggle{
        opacity: 0.2;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .videos-entrenamiento .searchBlog button i.fa.fa-search{
        margin-top: 2px;
        font-size: 20px;
        opacity: 0.2;
    }

    .videos-entrenamiento .row.copyM,
    .videos-entrenamiento .row.copyM .col-lg-3.col-md-12.col-12,
    .videos-entrenamiento .row.copyM .col-lg-1.col-md-12.col-12.searchBlog{
        display: block;
    }

    .videos-entrenamiento .row.copyM .col-lg-3.col-md-12.col-12.filtrar{
        width: 45.33%;
        text-align: left;
        display: inline-block;
    }

    .videos-entrenamiento .row.copyM .col-lg-1.col-md-12.col-12.searchBlog{
        width: 14.33%;
        display: inline-block;
    }

    .videos-entrenamiento .row.copyM .col-lg-3.col-md-12.col-12{
        width: 24.33%;
        display: inline-block;
    }

    .videos-entrenamiento .row.copyM .vce-search-form input{
        display: none;
    }
    .filterTab{
        background: #fff;
    }
    .blogCatSlider .container{
        margin: 0 !important;
        max-width: 100% !important;
    }
    .videos-entrenamiento .col-md-12.ordenar,
    .videos-entrenamiento .col-md-12.ordenar a{
        padding-left: 0 !important;
    }
    .videos-entrenamiento .col-md-12.filtrar .dropdown.show a.btn.dropdown-toggle,
    .videos-entrenamiento .col-md-12.ordenar .dropdown.show a.btn.dropdown-toggle,
    .videos-entrenamiento .col-md-12.searchBlog i{
        color: #bab9ba;
        opacity: 1;
        margin-bottom: 0;
    }
    .blog .col-md-12.filtrar,
    .blog .col-md-12.ordenar,
    .videos-entrenamiento .col-md-12.filtrar,
    .videos-entrenamiento .col-md-12.ordenar,
    .videos-entrenamiento .col-md-12.searchBlog{
        /*display: none;*/
        width: 33% !important;
        display: inline-block;
        max-width: 33% !important;
        text-align: center;
        display: inline-block;
    }

    .videos-entrenamiento .blogCatSlider .container{
        padding: 0px;
        margin: 0px;
        max-width: 100%;
    }

    .videos-entrenamiento .blogCatSlider .container .col-lg-8.col-md-12.col-12{
        padding: 0px;
    }

    .videos-entrenamiento .blogCatSlider .slick-next.slick-arrow{
        display: none !important;
    }

    .videos-entrenamiento .blogCatSlider .slick-prev.slick-arrow{
        display: none !important;
    }

    .videos-entrenamiento .slick-slide{
        width: 120px !important;
    }

    .videos-entrenamiento .slick-slide .holder{
        padding: 10px 5px;
    }

    .videos-entrenamiento .slick-slide .holder a{
        padding: 0px;
        font-size: 10px;
    }

    .containerVideos .sf-filter #sf-filter-hidden fieldset{
        text-align: left;
    }

    .containerVideos .sf-filter #sf-filter-hidden fieldset#grupcamps_6 legend{
        text-align: left;
    }

    .containerVideos .sf-filter #sf-filter-hidden fieldset#grupcamps_6 input{
        width: 200px;
    }

    .containerVideos .sf-filter #sf-filter-hidden .capa_sugerencias{
        text-align: center !important;
    }

    .containerVideos .sf-filter #sf-filter-hidden .capa_sugerencias span{
        display: inline-block;
    }

    .videos-entrenamiento .dropdown .dropdown-menu.show{
        background-color: #f8f8f8;
        text-align: right;
        border: 0px;
        transform: translate3d(-25px, 0px, 0px) !important;
        min-width: 11rem;
        opacity: initial;
    }

    .container.containerVideos{
        padding-right: initial;
        padding-left: initial;
    }

    .containerVideos .sf-result li{
        width: 100% !important;
        margin-bottom: 65px;
    }

    .containerVideos .sf-result li img{
        width: 100% !important;
    }

    .containerVideos .sf-result header.entry-header {
        padding: 10px 5px 5px 5px;
        max-width: 100%;
    }

    .fbx-modal .fbx-inner .fbx-item-current img{
        width: 85%;
        height: 90%;
        margin-top: 5%;
        margin-left: 7%;
    }


    .containerFrases .fbx-modal .fbx-inner .fbx-close{
        background-color: transparent;
        width: 5%;
        margin-top: 45%;
        left: 93% !important;
    }

    .containerFrases .fbx-modal .fbx-inner .fbx-social{
        display: block !important;
        padding-top: 48% !important;
        margin-left: 125px;
        background-color: transparent;
    }

    .page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-social{
        display: block !important;
        padding-top: 48% !important;
        margin-left: 125px;
        background-color: transparent;
    }

    .page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-close{
        background-color: transparent;
        width: 5%;
        left: 95% !important;
        position: relative;
        top: 0 !important;
    }

    .page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-social-toggle.fbx-btn-transition.fbx-btn-shadow{
        display: none;
    }


    /*imagenes*/

    .page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-social,
    .page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-social{
        position: absolute;
        bottom: -93%;
        margin-left: 0 !important;
        padding-top: 0 !important;
        right: -34%;
        left: initial !important;
        top: initial !important;
        display: block !important;
        background-color: transparent !important;
    }

    .page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-close,
    .page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-close{
        background-color: transparent;
        width: 5%;
        left: 95% !important;
        position: relative;
        top: 0 !important;
    }

    .page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-social-toggle.fbx-btn-transition.fbx-btn-shadow,
    .page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-social-toggle.fbx-btn-transition.fbx-btn-shadow{
       display: none;
    }

    .page-template-template-consejos-tips .fbx-modal.fbx-social-share.fbx-phone.fbx-portrait .fbx-social,
    .page-template-template-vuestras-fotos .fbx-modal.fbx-social-share.fbx-phone.fbx-portrait .fbx-social{
        padding: 50px 10px 0;
    }
    /*imagenes*/

    .frases-motivadoras{
        padding-right: initial !important;
        padding-left: initial !important;
    }

    .frases-motivadoras .categories{
        text-align: left;
    }

    .frases-motivadoras .titlePage {
        margin-left: 4%;
    }

    .frases-motivadoras .categoriesConta {
        padding: 10px 5px 10px 19px;
    }

    .frases-motivadoras .categories .categoriesConta a{
        font-size: 9px;
    }

    .containerFrases{
        padding: 0px !important;
    }

    .containerFrases .wc-gallery .gallery .gallery-item{
        height: 205px;
        width: 50%;
    }

    .containerVideos ul.sf-nav li {
        display: inline-block;
        margin-right: 0px;
        height: 35px;
        width: 35px;
        font-size: 12px;
    }

    .containerVideos ul.sf-nav li span.sf-nav-current{
        height: 35px;
        width: 35px;
    }

    .containerVideos ul.sf-nav li:last-child{
        right: 0px !important;
    }

    .videos-entrenamiento .filtrar{
        width: 40.33% !important;
        padding-left: 4px;
    }

    .video-entrenamiento-post{
        padding-right: 0px !important;
        padding-left: 0px !important;
        max-width: 100% !important;
    }
    .video-entrenamiento-post header{
        width: 90%;
    }
    .video-entrenamiento-post header .entry-title{
        padding: 0px !important;
        margin-left: initial !important;
    }

    .video-entrenamiento-post article.category-videos-de-entrenamiento > div:nth-child(2){
        background-color: #fff !important;
        padding: 0px !important;
    }

    .video-entrenamiento-post .content-video-popup{
        width: 100% !important;
    }

    .video-entrenamiento-post .content-video-popup div#ra_site_content{
        width: 98% !important;
    }

    .video-entrenamiento-post .content-desc-popup{
        background-color: #f0f0f0;
        margin-top: 0px !important;
        width: 100% !important;
        height: 460px;
        margin-top: 0px;
        padding: 10px 20px 10px 20px;
        padding-left: 20px !important;
    }

    .video-entrenamiento-post .content-desc-popup .vce-share-items{
        margin-left: 0px !important;
        margin-top: 0px !important;
        text-align: left !important;
    }

    /* NUTRICION */

    .consejos .habitos .seccion1 .colum2,
    .consejos .habitos .seccion1 .colum3{
        display: none;
    }

    .consejos .habitos .seccion2 .colum1,
    .consejos .habitos .seccion2 .colum3{
        display: none;
    }

    .consejos .habitos .seccion3 .colum1,
    .consejos .habitos .seccion3 .colum2{
        display: none;
    }

    .nutricion .imagenesNutricion{
        width: 100%;
    }

    .nutricion .imagenesNutricion .imgRight .vc_column-inner{
        padding-left: 0px;
        padding-right: 0px;
    }

    .nutricion .imagenesNutricion .imgLeft .vc_column-inner{
        padding-right: 0px;
        padding-left: 0px;
    }

    .nutricion .titleWithLine h4{
        font-size: 25px;
        padding-bottom: 0px !important;
        padding-right: 8px !important;
        padding-left: 8px !important;
    }

    .nutricion .habitos{
        width: 90%;
        padding-bottom: 28px !important;
    }

    .containerPlanes .consejos .habitos .seccion1 .colum2,
    .containerPlanes .consejos .habitos .seccion1 .colum3{
        display: none;
    }

    .containerPlanes .consejos .habitos .seccion2 .colum1,
    .containerPlanes .consejos .habitos .seccion2 .colum3{
        display: none;
    }

    .containerPlanes .consejos .habitos .seccion3 .colum1,
    .containerPlanes .consejos .habitos .seccion3 .colum2{
        display: none;
    }

    .containerPlanes .imagenesNutricion{
        width: 100%;
    }

    .containerPlanes .imagenesNutricion .imgRight .vc_column-inner{
        padding-left: 0px;
        padding-right: 0px;
    }

    .containerPlanes .imagenesNutricion .imgLeft .vc_column-inner{
        padding-right: 0px;
        padding-left: 0px;
    }

    .containerPlanes .titleWithLine h4{
        font-size: 25px;
        padding-bottom: 0px !important;
        padding-right: 8px !important;
        padding-left: 8px !important;
    }

    .containerPlanes .habitos{
        width: 90%;
        padding-bottom: 28px !important;
    }
}

@media (max-width: 375px){
    .page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-social{
        padding-top: 91% !important;
        margin-left: 85px;
    }

    .page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-item-current img{
        width: 80%;
        height: 85%;
        margin-top: 8%;
        margin-left: 13%;
    }

    .page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-close{
        margin-top: 75%;
        left: 94% !important;
    }

    /*imagenes*/

    .page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-social,
    .page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-social{
        padding-top: 91% !important;
        margin-left: 85px;
    }

    .page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-item-current img,
    .page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-item-current img{
        width: 80%;
        height: 85%;
        margin-top: 2%;
        margin-left: 13%;
    }

    .page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-close,
    .page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-close{
        margin-top: 75%;
        left: 94% !important;
    }
    /*imagenes*/

    .video-entrenamiento-post .content-desc-popup{
        padding: 10px 0px 10px 20px;
        padding-left: 10px !important;
        height: 475px;
    }

}

@media (max-width: 320px){
    .frases-motivadoras .categoriesConta {
        padding: 10px 5px 10px 10px;
    }

    .containerFrases .wc-gallery .gallery .gallery-item {
        height: 155px;
    }

    .fbx-modal .fbx-inner .fbx-item-current img {
        width: 70%;
        height: 75%;
        margin-top: 13%;
        margin-left: 18%;
    }

    .page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-social {
        padding-top: 395px !important;
        margin-left: 35px;
    }

    .page-template-frases-motivadoras .fbx-modal .fbx-inner .fbx-close {
        margin-top: 87%;
        left: 93% !important;
    }

    .video-entrenamiento-post .content-desc-popup{
        padding: 10px 0px 10px 20px;
        padding-left: 7px !important;
        height: 495px;
    }

    .video-entrenamiento-post .content-desc-popup .material-cuerpo{
        width: 42% !important;
        padding-left: 7px !important;
    }


}


/* RECETAS*/

.recetas .titlePage {
    text-align: left;
    padding-left: 40px;
    text-transform: uppercase;
    color: #454344;
    margin: 14px 0;
}

.containerVideos .sf-filter{
    display: none;
}

.recetas .slick-track{
    max-height: 40px;
    overflow: hidden;
}

.containerRecetas .sf-result-head{
    display: none;
}

.recetas .blogCatSlider a{
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
}


.recetas .blogCatSlider a:hover{
    color: #00b5bd;

}

.recetas .blogCatSlider .dropdown a{
    opacity: 0.4;
    font-size: 14px;
    padding: 9px;
}

.recetas .blogCatSlider .dropdown a:hover{
    opacity: initial;
}

.containerRecetas .sf-nav{
    background: #fff !important;
}

.containerRecetas ul.sf-nav li{
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.containerRecetas ul.sf-nav li span{
    color: #595959c4 !important;
    border: initial !important;
    padding-top: 8px;
}

.containerRecetas ul.sf-nav li{
    background-color: transparent !important;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}


.containerRecetas ul.sf-nav li span.sf-nav-click:hover{
    border: 1px solid #01b8be;
    background-color: transparent !important;
}

.containerRecetas ul.sf-nav li span.sf-nav-current{
    background-color: #01b8be;
    color: #fff !important;
    border-radius: initial !important;
    height: 40px;
    width: 40px;
    padding-top: 8px;
}

.containerRecetas ul.sf-nav li span.sf-nav-current{
    border: initial !important;
}

.containerRecetas ul.sf-nav li span.sf-nav-right-arrow{
    background-color: #01b8be;
    color: #fff !important;
    border-radius: 20px;
    height: 25px !important;
}
.containerRecetas ul.sf-nav li span.sf-nav-click.sf-nav-right-arrow:hover{
    background-color: #01b8be !important;
    color: #fff !important;
    border: inherit !important;
    border-radius: 20px;
}
.containerRecetas ul.sf-nav li span.sf-nav-left-arrow{
    background-color: #01b8be;
    color: #fff !important;
    border-radius: 20px;
    height: 25px !important;
}
.containerRecetas ul.sf-nav li span.sf-nav-click.sf-nav-left-arrow:hover{
    background-color: #01b8be !important;
    color: #fff !important;
    border: inherit !important;
    border-radius: 20px;
}
.containerRecetas ul.sf-nav li:last-child{
    right: 24% !important;
    top: 15px !important;
}

.containerRecetas.sf-filter{
    background: initial;
    background-color: #f8f8f8;
    border: initial;
    box-shadow: 5px 2px 12px 0px #88888838;

}

.containerRecetas .sf-wrapper .sf-filter #sf-filter-hidden a div.capa_sugerencias{
    width: 42%;
    height: initial;
    background-color: transparent;
    float: right;
    color: #01b8be;
    text-align: left;
    border-radius: initial;
    font-size: 14px;
    padding-top: 7px;
    border: initial;
    font-weight: 600;
}

.containerRecetas .sf-filter #sf-filter-hidden fieldset div.sf-checkbox-wrapper div label{
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.containerRecetas .sf-filter #sf-filter-hidden fieldset#grupcamps_6{
    text-align: right;
    width: 51%;
}

.containerRecetas .sf-filter #sf-filter-hidden fieldset#grupcamps_6 legend{
    padding-right: 19%;
}

.containerRecetas ul.sf-result{
    margin-top: 0px;
}

.recetas .blogCatSlider{
    margin-bottom: 30px;
}

.recetas .blogCatSlider .dropdown-menu.show{
    background-color: #f8f8f8;
    transform: initial !important;
    top: 100% !important;
    right: 0px;
    will-change: initial !important;
    margin-top: 5px;
    width: 160px;
    left: initial !important;
    text-align: right;
}

.recetas .blogCatSlider .dropdown-menu.show a{
    padding: 10px 15px 10px 10px;
    opacity: initial;
    font-size: 12px;

}

.recetas .blogCatSlider i.fa.fa-search.openSearch{
    padding: 10px 7px 7px 7px;
}

.recetas .blogCatSlider form.vce-search-form{
    position: absolute;
    top: 90%;
    left: 0px;
}

.recetas .blogCatSlider form.vce-search-form input{
    border: 2px solid #bab9ba66;
    padding: 5px 0px 5px 5px;
    width: 260px;
    margin-top: 20px;
}

.containerRecetas .sf-result header.entry-header{
    text-align: left;
    padding: 10px 0px 0px 5px;
    max-width: 255px;
}

.containerRecetas .sf-result header.entry-header h2 a{
    font-size: 14px;
    font-weight: 600;
}

.containerRecetas .sf-result li{
    padding-right: 7px;
    padding-left: 7px;
}

/* HOME */

.homeContent{
    max-width: 100% !important;
    padding: 0px;
}

.homeContent .firstImgHome .wpb_single_image.wpb_content_element.vc_align_center figure,
.homeContent .firstImgHome .wpb_single_image.wpb_content_element.vc_align_center figure div,
.homeContent .firstImgHome .wpb_single_image.wpb_content_element.vc_align_center figure div img{
    width: 100%;
}

.homeContent .firstImgHome .vc_column-inner{
    padding-left: 0px;
    padding-right: 0px;
}

.homeContent .tituloEntrenamientoHome{
    width: 100%;
    margin-bottom: 10px;
}


.homeContent .titulosHome{
    font-size: 23px;
    margin-left: 10px;
}

.homeContent .home-videos-entrenamiento{
    width: 100%;

}

.homeContent .home-videos-entrenamiento .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{
    padding-bottom: 0px !important;
}

.homeContent .home-videos-entrenamiento .vc_gitem-zone{
    background-color: transparent !important;
}

.homeContent .home-videos-entrenamiento .vc_gitem-zone .vc_gitem-post-data-source-post_title{
    margin-bottom: 0px;
    height: 65px;
}

.homeContent .home-videos-entrenamiento .vc_gitem-zone .vc_gitem-post-data-source-post_excerpt{
    display: none;
}

.homeContent .home-videos-entrenamiento .vc_gitem-zone .vc_btn3-container{
    display: none;
}

.homeContent .leftContent{
    width: calc(100% / 4 * 3);
}

.homeContent .leftContent .leftImgHome .wpb_single_image figure,
.homeContent .leftContent .leftImgHome .wpb_single_image figure div,
.homeContent .leftContent .leftImgHome .wpb_single_image figure div img{
    width: 100%;
}

.homeContent .leftContent .rightImgHome .wpb_single_image figure,
.homeContent .leftContent .rightImgHome .wpb_single_image figure div,
.homeContent .leftContent .rightImgHome .wpb_single_image figure div img{
    width: 100%;
}

.homeContent .leftContent .leftImgHome .wpb_single_image,
.homeContent .leftContent .rightImgHome .wpb_single_image{
    margin-bottom: 5px;
}

.homeContent .leftContent .tituloTransformacionesHome{
    margin-bottom: 10px;
}

.homeContent .leftContent .transformacionesHome{
    margin-bottom: 10px;
}

.homeContent .leftContent .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{
    padding-right: 15px;
    padding-bottom: 5px;
}

.homeContent .leftContent .transformacionesHome .vc_gitem-zone{
    background-color: transparent !important;
}

.homeContent .leftContent .transformacionesHome .vc_gitem-zone .vc_gitem-post-data-source-post_excerpt{
    display: none;
}

.homeContent .leftContent .transformacionesHome .vc_gitem-zone .vc_btn3-container{
    display: none;
}

.homeContent .leftContent .transformacionesHome .vc_pageable-slide-wrapper .vc_grid-item:nth-last-child(-n+156){
    display: none;
}

.homeContent .leftContent .imgFormHome{
    margin-bottom: 10px;
}

.homeContent .leftContent .imgFormHome figure,
.homeContent .leftContent .imgFormHome figure div,
.homeContent .leftContent .imgFormHome figure div img{
    width: 100%;
}

.homeContent .leftContent .tituloPodcastHome{
    margin-bottom: 10px;
}

.homeContent .leftContent .podcastHome .vc_gitem-zone{
    background-color: transparent !important;
}

.homeContent .leftContent .podcastHome .vc_gitem-zone .vc_gitem-post-data-source-post_excerpt{
    display: none;
}

.homeContent .leftContent .podcastHome .vc_gitem-zone .vc_btn3-container{
    display: none;
}

.homeContent .leftContent .podcastHome .vc_pageable-slide-wrapper .vc_grid-item:nth-last-child(-n+23){
    display: none;
}

.homeContent .rightSideBarHome{
    width: calc(100% / 4 * 1);
}

@media (max-width: 500px){
    .homeContent{
        width: 100%;
        overflow: hidden;
    }
}

@media (max-width: 425px){


    /* HOME */

    .homeContent .filaVideoEntrenamiento{
        padding-right: initial;
        padding-left: initial;
    }

    .homeContent .filaVideoEntrenamiento .primerSe .vc_column-inner{
        padding-right: initial;
        padding-left: initial;
    }

    .homeContent .primerSe{
        padding-right: 20px;
    }

    .homeContent .tituloEntrenamientoHome {
        width: 100%;
    }

    .home-videos-entrenamiento .vc_pageable-slide-wrapper .vc_grid-item:nth-last-child(-n+4){
        display: none !important;
    }

    .homeContent .home-videos-entrenamiento{
        width: 100%;
    }

    .homeContent .home-videos-entrenamiento .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{
        display: inline-block;
        width: 50%;
        padding-right: 10px;
    }

    .homeContent .doubleContentHome{
        padding-right: 0px;
        padding-left: 0px;
        max-width: 100%;
    }

    .homeContent .leftContent {
        margin-left: 0px;
        width: 100%;
    }

    .homeContent .leftContent .vc_column-inner{
        padding: 0px;
    }

    .homeContent .leftContent .rightImgHome{
        display: none;
    }

    .homeContent .leftContent .transformacionesHome {
        padding-left: 5px;
        padding-right: 30px;
    }

    .homeContent .leftContent .transformacionesHome .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{
        display: inline-block;
        width: 50%;
    }

    .homeContent .leftContent .transformacionesHome .vc_pageable-slide-wrapper .vc_grid-item:nth-child(3){
        display: none !important;
    }

    .homeContent .leftContent .transformacionesHome .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .homeContent .leftContent .tituloPodcastHome ,
    .homeContent .leftContent .tituloTransformacionesHome {
        margin-left: 10px;
    }
    .homeContent .leftContent .titulosHome {
        margin-left: 0px;
    }

    .homeContent .leftContent .podcastHome{
        padding-left: 10px;
        padding-right: 25px;
    }

    .homeContent .leftContent .podcastHome .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{
        display: inline-block;
        width: 50%;
    }

    .homeContent .leftContent .podcastHome .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{
        padding-right: 15px;
        padding-bottom: 5px;
    }

    .homeContent .leftContent .podcastHome .vc_pageable-slide-wrapper .vc_grid-item:nth-child(3){
        display: none !important;
    }

    .homeContent .rightSideBarHome{
        display: none !important;
    }


    .containerRecetas ul.sf-nav li {
        display: inline-block;
        margin-right: 0px;
        height: 35px;
        width: 35px;
        font-size: 12px;
    }

    .containerRecetas ul.sf-nav li span.sf-nav-current{
        height: 35px;
        width: 35px;
    }

    .containerRecetas ul.sf-nav li:last-child{
        right: 0px !important;
    }

    .recetas .filtrar{
        width: 40.33% !important;
        padding-left: 4px;
    }

    .container-fluid.recetas{
        padding-right: initial;
        padding-left: initial;
    }

    .recetas .container.titlePage{
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 9%;
    }

    .recetas .dropdown.show a.btn.dropdown-toggle{
        opacity: 0.2;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .recetas .searchBlog button i.fa.fa-search{
        font-size: 20px;
        opacity: 0.2;
        margin-top: 2px;
    }

    .recetas .row.copyM,
    .recetas .row.copyM .col-lg-3.col-md-12.col-12,
    .recetas .row.copyM .col-lg-1.col-md-12.col-12.searchBlog{
        display: block;
    }

    .recetas .row.copyM .col-lg-3.col-md-12.col-12.filtrar{
        width: 45.33%;
        text-align: left;
        display: inline-block;
    }

    .recetas .row.copyM .col-lg-1.col-md-12.col-12.searchBlog{
        width: 14.33%;
        display: inline-block;
    }

    .recetas .row.copyM .col-lg-3.col-md-12.col-12{
        width: 24.33%;
        display: inline-block;
    }

    .recetas .row.copyM .vce-search-form input{
        display: none;
    }

    .recetas.row .col-lg-3.col-md-12.col-12,
    .recetas .row .col-lg-1.col-md-12.col-12.searchBlog{
        display: none;
    }

    .recetas .blogCatSlider .container{
        padding: 0px;
        margin: 0px;
        max-width: 100%;
    }

    .recetas .blogCatSlider .container .col-lg-8.col-md-12.col-12{
        padding: 0px;
    }

    .recetas .blogCatSlider .slick-next.slick-arrow{
        display: none !important;
    }

    .recetas .blogCatSlider .slick-prev.slick-arrow{
        display: none !important;
    }

    .recetas .slick-slide{
        width: 120px !important;
    }

    .recetas .slick-slide .holder{
        padding: 5px 0px 1px 0px;
    }

    .recetas .slick-slide .holder a{
        padding: 8px;
        font-size: 10px;
    }

    .containerRecetas .sf-filter #sf-filter-hidden fieldset{
        text-align: left;
    }

    .containerRecetas .sf-filter #sf-filter-hidden fieldset#grupcamps_6 legend{
        text-align: left;
    }

    .containerRecetas .sf-filter #sf-filter-hidden fieldset#grupcamps_6 input{
        width: 200px;
    }

    .containerRecetas .sf-filter #sf-filter-hidden .capa_sugerencias{
        text-align: center !important;
    }

    .containerRecetas .sf-filter #sf-filter-hidden .capa_sugerencias span{
        display: inline-block;
    }

    .containerRecetas .dropdown .dropdown-menu.show{
        background-color: #f8f8f8;
        text-align: right;
        border: 0px;
        transform: translate3d(-25px, 28px, 0px) !important;
        min-width: 11rem;
        opacity: initial;
    }

    .container.containerRecetas{
        padding-right: initial;
        padding-left: initial;
    }

    .containerVideos .sf-result li{
        width: 100% !important;
        margin-bottom: 65px;
    }

    .containerVideos .sf-result li img{
        width: 100% !important;
    }

    .containerVideos .sf-result header.entry-header {
        padding: 10px 5px 5px 5px;
        max-width: 100%;
    }

    /* POST */

    .single-post .vce-main-content{
        width: 100% !important;
    }

    .single-post .site-content{
        padding: 0px;
        max-width: 100%;
    }

    .single-post .vce-main-content .entry-title{
        padding-right: 0px;
        padding-left: 15px;
        line-height: 32px;
        font-size: 22px;
    }

    /*.single-post .vce-main-content .leftColumnCat{
        margin-left: 15px;
        display: inline-block;
        width: 44%;
    }

    .single-post .vce-main-content .rightColumnCat{
        display: inline-block;
        width: 51%;
    }
*/

    body.page-template-template-consejos-tips .fbx-modal .fbx-inner{
        margin-left: initial !important;
    }

    .page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-close{
        left: 89% !important;
    }

    .page-template-template-consejos-tips .fbx-modal.fbx-social-share.fbx-phone.fbx-portrait .fbx-social{
        padding: 50px 0px 0;
    }

    /*calendario*/

    .container.calendario {
        max-width: 100%;
        padding: 0px;
    }

    .container.calendario .imgLeft .wpb_single_image{
        margin-right: 0px !important;
        margin-bottom: 10px;
    }

    .container.calendario .imgRight .wpb_single_image{
        margin-left: 0px !important;
    }


    .container.calendario .titleWithLine h4 {
        font-size: 25px;
        padding-bottom: 0px !important;
        padding-right: 8px !important;
        padding-left: 8px !important;
    }


    .container.calendario .habitos{
        width: 80%;
    }

    /*RECETAS*/

    .category-desayuno .containerBlog{
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
        max-width: 100%;
    }

    .page-template-template-calendario .main-header{
        max-width: 425px !important;
    }

    .calendario .imgRight .vc_column-inner,
    .calendario .imgLeft .vc_column-inner,
    .calendario .rowCuidaAlimentacion .vc_column-inner
    .calendario .habitos .vc_column-inner{
        padding-right: 0px !important;
    }

    .blog .containerBlog{
        max-width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .blog{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }


}

.blog .filterTab .filtrar{
    /*display: none;*/
}

.video-entrenamiento-post .vce-related-box,
.video-entrenamiento-post .comments-main,
.video-entrenamiento-post .comment-respond{
    display: none;
}


.recetas .blogCatSlider form.vce-search-form input{
    margin-top: 10px;
}

.calendario .titleWithLine h4 {
    color: #00b5bd;
    font-size: 32px;
    font-weight: 400;
    padding: 0px 9px 0px 9px !important;
}

.calendario .titleWithLine b {
    font-weight: 700;
}

.calendario .titleWithLine em {
    font-weight: 200;
}


.banner_banner--3pjXd {
    /*display: none;*/
}

.recetas .dropdown-menu.show{

}

.videos-entrenamiento .slick-slide{
    width: fit-content !important;
    padding: 0px 20px;
}

.titlePage{
    margin-bottom: 15px !important;
}
@media (max-width: 600px){
.container-fluid {
    width: 100%;
    overflow: hidden;
}
}
/*IMAGENES*/

.page-template-template-vuestras-fotos .fbx-modal .fbx-inner{
    width: 450px !important;
    height: 450px !important;
    margin-top: -258.5px !important;
    margin-left: -239.5px !important;
}

.page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-social{
    margin-left: 130px;
    margin-top: 97% !important;
}

.page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-social div,
.page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-social a{
    color: black !important;
    font-size: 12px;
    font-weight: bold;
}

.page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-social div{
    margin-top: 9px;
    text-align: right;
}

.page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-count{
    display: none;
}


.page-template-template-consejos-tips .fbx-modal .fbx-inner{
    width: 450px !important;
    height: 450px !important;
    margin-top: -258.5px !important;
    margin-left: -239.5px !important;
}

.page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-social{
    margin-left: 131px;
    margin-top: 97% !important;
}

.page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-social div,
.page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-social a{
    color: black !important;
    font-size: 12px;
    font-weight: bold;
}

.page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-social div{
    margin-top: 9px;
    text-align: right;
}

.page-template-template-consejos-tips .fbx-modal .fbx-inner .fbx-count{
    display: none;
}

.page-template-template-vuestras-fotos .fbx-modal .fbx-inner .fbx-stage{
    height: 97%
}
.container.calendario {
    margin-top: 35px;
}
.container.calendario .imagenesNutricion {
    width: 100%;
    margin-top: 20px;
    max-width: 1200px;
}

